.question-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.question-paragraph {
    background-color: #ffff;
    width: 65%;
    height: min-content;
    max-height: 70%;
    padding: 1rem;
    border-radius: 2rem;
    border: solid 0.5rem var(--primary-color);
    font-family: Rockwell;
    vertical-align: center;
    text-align: justify;
    overflow-y: scroll;

}
.img-container {
    display: flex;
    justify-content: center;
    margin: 1.5rem auto;
    width: 180px;
    height: 180px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    border: solid 5px var(--primary-color);
    
   
}
.img-container img{
    width: 80%;
   
    align-self: center;
}

/* INICIAN ESTILOS DE LA SECCION SOLUTION-CONTAINER */

.form-solution {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 80%;
    margin: 3% 4%;
    border-radius: 2rem;
    border: solid 3px var(--primary-color);

    background-color: white;
}
.form-solution__item {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 0 1rem;
    justify-self: center;
}
.form-solution__item:first-child{
    margin-top: 0;
}
.form-solution__item span {
    font-size: var(--font-size-medium);
    font-family: Rockwell;
    color: var(--primary-color);
}
.form-solution__item input {
    margin-top: 0.5rem;
    border-radius: 1rem;
    outline: none;
    border: 1px solid var(--primary-color);
    padding-left: 1rem;
    
}
.form-solution button {
    width: 30%;
    align-self: center;
    margin-top: 1rem;
    background-color: var(--progress-bar-color);
    border: none;
    border-radius: 2rem;
    padding: 0.5rem;
    color: var(--primary-color);
    
}
.form-solution button:hover {
    border: solid 2px var(--primary-color);
    font-weight: bold;
}
.results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80%;
    margin: 3% 0;
    background-color: white;
    border: solid 3px var(--primary-color);
    border-radius: 2rem;
}
.results-title {
    text-align: center;
    font-family: Rockwell;
    color: var(--progress-bar-color);
    font-size: var(--font-size-big);
}

.table-results {
    text-align: left;
    width: 60%;
    border-collapse: collapse;
    font-family: Rockwell;
    font-size: var(--font-size-small);
}
.table-title {
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.table-results .table-row td {
    border: solid 1px var(--primary-color);
    padding: 0.5rem;
}

.bubble {
    width: 80%;
    background-color: white;
    position: relative;
    border-radius: 1rem;
    margin-left: 20px;
    height: 85%;
    box-shadow: var(--box-shadow-config-1);
    
}

.bubble:after {
    content: "";
    display: block;
    position: absolute;
    top: 40px;
    margin-left: -110px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 110px solid #fff;
}
.bubble-paragraph {
    padding: 1rem;
    font-size: var(--font-size-medium);
    height: 100%;
    overflow-y: auto;
    text-align: justify;
    color: var(--primary-color);
    font-family: Rockwell;
}
.bubble-list-container{
    margin-left: 2rem;
}
.sub-list-container {
    margin-left: 1rem;
}

